<div class="bl_separate">
  <div class="bl_separate_inner">
    <div class="bl_separate_btns01">
      <a href="" class="btn2 btn-c"><i class="fas fa-hand-point-right"></i>まずは<span>カンタン登録</span>!<small>(30秒)</small></a>
    </div>
  </div>
</div>
<footer class="ly_mainFooter">
  <ul class="bl_footerList">
    <li><%= link_to "TOP",'/' %></li>
    <li><a href="#">特徴</a></li>
    <li><a href="#">機能・料金体系</a></li>
    <li><%= link_to "ご利用の流れ", { anchor: "flow" } %></li>
    <%# <li><a href="#">ブログ</a></li> %>
    <li><a href="#">問い合わせ</a></li>
    <li><a href="#">運営会社</a></li>
    <%# <li><a href="#">利用規約</a></li> %>
    <%# <li><a href="#">プライバシーポリシー</a></li> %>
    <%# <li><a href="#">特定商取引法に基づく表記</a></li> %>
  </ul>
  <small class="bl_copy">
    ©2022 Dotbit Inc. All rights reserved.
  </small>
</footer>
