<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <div class="site-header__start">
      <%= link_to "IT案件・人材 情報案内",'/', class:'brand' %>
      <%# <a href="#" class="brand">IT案件・人材 情報案内</a> %>
    </div>
    <div class="site-header__middle">
      <nav class="nav">
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="#"><i class="fa-solid fa-magnifying-glass"></i>案件を探す</a></li>
          <li class="nav__item"><a href="#"><i class="fa-solid fa-sitemap"></i>ご利用ガイド</a>
            <ul class="guide_items">
              <li><a class="guide_item" href="#">料金プラン</a></li>
              <li><a class="guide_item" href="#">サービス詳細</a></li>
              <li><a class="guide_item" href="#">お問い合わせ</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="btn signup_button btn_outline" href="#">ログイン</a>
      <a class="btn signup_button" href="#">新規登録</a>
    </div>
  </div>
</header>
